.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 10px 15px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #75b043;
}


.alert {
  padding: 15px;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  color: #31708f;
}

.alert-info p {
  margin: 0;
  line-height: 1.5; 
}

button.pill-link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for the pill shape */
  background-color: #343a40;
  color: #fff; 
  text-align: center;
  text-decoration: none; 
  border-radius: 50px; /* Makes the shape a pill */
  font-size: 1em; /* Adjust text size */
  font-weight: 500; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}


button.pill-link:hover {
  background-color: #75b043;
  transform: translateY(-2px); 
}

button.pill-link:active {
  background-color: #75b043;
  transform: translateY(0); 
}


button.pill-link:focus {
  outline: 2px solid #75b043; 
}
h1 {
  text-align: center;
  margin: 4px;
}
hr {
  border: 0; /* Remove the default border */
  height: 3px; /* Set the height of the hr (making it thicker) */
  background-color: #4CAF50; /* Set the color of the hr */
  margin: 20px 0; /* Add some margin for spacing */
}
