/* src/pagesCSS/Background.css */

.containerHome {
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom right, #f0f4f8, #d9e2ec);
    z-index: 0; 
  }
  
  .triangleBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure it is behind other content */
  }
  
  .triangleBackground::before,
  .triangleBackground::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #4caf50; /* Green color for triangles */
  }
  
  .triangleBackground::before {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  .triangleBackground::after {
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
  }
  
  /* Styling for header elements */
  h1 {
    font-size: 3rem;
    margin: 0;
    color: #333;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #666;
  }
  
  h2 {
    font-size: 1.2rem;
    margin: 10px;
    color: #4caf50;
    transition: color 0.3s ease;
  }
  
  h2 a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
  }
  
  h2 a:hover {
    color: #333;
    border-bottom: 2px solid #333;
  }
  
  /* Button link styling */
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #4caf50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1; /* Ensure the button is above other elements */
  }
  
  .button-link:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .loading-message {
    font-size: 1.2rem;
    color: #999;
  }
  